<div id="post-{{id}}" class="card">
    <img class="card-image" src="{{thumbnailpath}}" alt="Missing Image">
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-description">{{description}}</p>
        <a href="/getPost/{{id}}" class="looksLikeButton">Post Details</a>
    </div>
</div>
